<div class="slider-container position-{{position}}" (click)="test()">
    <div class="page" ><div>
        <div [style.color]="colorPalette[0]">Joyeux noël mon amour ! J'espère que ce cadeau t'aura plu !</div><div class="spacer"></div>
        <div [style.color]="colorPalette[1]">Je passe mon temps à te dire que je t'aime, et ça me semble jamais assez,</div>
        <div [style.color]="colorPalette[1]">j'arrive pas à l'exprimer autant que je le ressent.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[3]">C'est pour ça que je me suis dit que j'allais te faire ce petit site !</div><div class="spacer"></div>
        <div [style.color]="colorPalette[6]">Pour te dire quelques uns des aspects que j'aime dans la vie que je partage avec toi.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[8]">J'aurais pu mettre dix fois plus de cartes avec des petits mots, mais je vais continuer ici !</div>
    </div></div>
    <div class="page"><div>
        <div [style.color]="colorPalette[0]">Depuis que je te connais, j'ai toujours été attiré par toi.</div>
        <div [style.color]="colorPalette[0]">Est-ce que j'imaginais une seule seconde avoir mes chances ? Certainement pas.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[1]">Et pourtant, presque 5 ans plus tard, je suis là, à coté de toi,</div>
        <div [style.color]="colorPalette[1]">probablement en train de m'inquiéter de si tout ça va te plaire :P</div><div class="spacer"></div>
        <div [style.color]="colorPalette[5]">Et je ne pourrais être plus heureux. Pourquoi, tu me demandes ?</div>
        <div [style.color]="colorPalette[5]">(mais si, tu me demandes. Je t'entends, là. "PoUrQuOi FrAnÇoIs ??")</div><div class="spacer"></div><div class="spacer"></div><div class="spacer"></div>
        <div [style.color]="colorPalette[7]">(Oui, en alternant les majuscules et les minuscules, comme dans un meme de 2017.)</div>
    </div></div>
    <div class="page"><div>
        <div [style.color]="colorPalette[0]">Parce que tu es attentionné, attentif et toujours inquiet de mon humeur.</div>
        <div [style.color]="colorPalette[0]">Si tu sens que je vais mal, tu n'hésites jamais à me demander, à essayer de me réconforter</div>
        <div [style.color]="colorPalette[0]">et à me proposer ton aide. Même quand ce n'est pas possible, ou très compliqué.</div>
        <div [style.color]="colorPalette[0]">Tu es toujours là pour moi et je t'en suis extrêmement reconnaissant.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[2]">Parce que tu es un amour.</div>
        <div [style.color]="colorPalette[2]">Depuis que je suis avec toi, j'ai l'impression d'être un adolescent.</div>
        <div [style.color]="colorPalette[2]">Je glousse quand je te parle, je pleure de joie quand je te vois,</div>
        <div [style.color]="colorPalette[2]">et j'attends toujours ces moments passés ensemble avec une grande impatience.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[4]">Parce que tu es magnifique.</div>
        <div [style.color]="colorPalette[4]">Sérieux, t'es un canon. T'es vraiment beau, je pourrais te regarder des heures.</div>
        <div [style.color]="colorPalette[4]">Comme je te l'ai dit, si je perdais la mémoire, je retomberait amoureux direct.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[6]">Parce que tu as une personnalité incroyable.</div>
        <div [style.color]="colorPalette[6]">Tu passes beaucoup de temps à dire que tu es idiot, ou pas fonctionnel.</div>
        <div [style.color]="colorPalette[6]">Et je passerai tout autant de temps à te dire que ce n'est pas le cas.</div>
        <div [style.color]="colorPalette[6]">Tu as une façon de penser qui t'est propre, tu es passionnant, amusant, très gentil avec les gens.</div>
        <div [style.color]="colorPalette[6]">Tu es humble (un peu trop parfois !), mais tu encourages toujours les autres.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[8]">Parce que le temps passé en ta compagnie est un plaisir.</div>
        <div [style.color]="colorPalette[8]">Que ce soit des moments passés à rire en ta compagnie, à jouer à des jeux vidéos,</div>
        <div [style.color]="colorPalette[8]">à arpenter Toulouse en quête d'un Starbucks sauvage, à regarder Joséphine,</div>
        <div [style.color]="colorPalette[8]">à se faire des câlins, à cuisiner, à discuter à coeur ouvert au milieu de la nuit,</div>
        <div [style.color]="colorPalette[8]">y a pas une seule fois où je me suis dit que je serais mieux ailleurs qu'avec toi.</div><div class="spacer"></div>
    </div></div>
    <div class="page"><div>
        <div [style.color]="colorPalette[0]">Et sinon, t'as cru que j'allais pas te parler du cul ?</div>
        <div [style.color]="colorPalette[0]">Haha, t'es mignon.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[2]">Passer du temps avec toi c'est chouette, et ce qui l'est encore plus, c'est de le passer dans tes bras.</div>
        <div [style.color]="colorPalette[2]">Mais quand je me perds à t'embrasser, à laisser courir mes mains sur ton corps,</div>
        <div [style.color]="colorPalette[2]">plus rien n'a d'importance. Juste la douceur de ta peau, le goût de ta bouche.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[4]">Tu me dis souvent que je t'aide à aimer un peu plus ton corps,</div>
        <div [style.color]="colorPalette[4]">et c'est une des meilleures choses que tu puisses me dire.</div>
        <div [style.color]="colorPalette[4]">Ton corps, il est superbe, il "remplit tous mes standards" ;) mais surtout,</div>
        <div [style.color]="colorPalette[4]">il me tient éveillé la nuit, en me donnant des idées défendues ♥</div><div class="spacer"></div>
        <div [style.color]="colorPalette[6]">J'ai l'impression de passer ma vie à avoir envie de toi, de te faire gémir</div>
        <div [style.color]="colorPalette[6]">ou de t'exciter dans des endroits qui ne sont pas prévus pour ça, avec des gens autour !</div>
        <div [style.color]="colorPalette[6]">Cette lueur dans ton regard, je crois que je ne m'en lasserai jamais.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[8]">Avec toi, je me sens en sécurité, et même si parfois certaines choses m'intimident un peu,</div>
        <div [style.color]="colorPalette[8]">Rien ne me semble insurmontable, et j'ai envie d'essayer des tonnes de trucs avec toi.</div>
        <div [style.color]="colorPalette[8]">J'ai envie de te faire du bien, de te faire du mal et de prendre soin de toi, mon amour.</div><div class="spacer"></div>
    </div></div>
    <div class="page"><div>
        <div [style.color]="colorPalette[0]">Voilà, on arrive à la fin de mon petit message de noël.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[2]">J'avais terriblement envie de t'écrire toutes ces choses que je ressent pour toi,</div>
        <div [style.color]="colorPalette[2]">qui font battre mon coeur, et j'espère que ça t'aura fait plaisir.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[4]">J'ai terminé d'écrire tout ça un peu tard (il est 13h30 là, je vais arriver en retard...)</div>
        <div [style.color]="colorPalette[4]">et donc c'est pas aussi bien écrit que je l'aurais voulu, mais je ne peux plus attendre !</div><div class="spacer"></div>
        <div [style.color]="colorPalette[5]">Damien, tu es la meilleure chose qui me soit arrivée, tu as illuminé mon année 2020, et ma vie.</div>
        <div [style.color]="colorPalette[5]">J'ai l'impression de pouvoir soulever des montagnes quand tu es à mes cotés,</div>
        <div [style.color]="colorPalette[5]">et surtout, j'ai envie de le faire pour toi.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[7]">Je vivais dans la peur d'imaginer ma vie, d'oser penser à vivre en couple,</div>
        <div [style.color]="colorPalette[7]">et pourtant tout m'est apparu comme une évidence. J'ai pas envie d'imaginer la vie sans toi.</div>
        <div [style.color]="colorPalette[7]">J'ai envie qu'on vieillisse ensemble, j'ai envie de te dédier tous mes efforts.</div><div class="spacer"></div>
        <div [style.color]="colorPalette[8]">Je meurs d'envie de te le dire. Tu es l'homme de ma vie, tu combles tous mes désirs,</div>
        <div [style.color]="colorPalette[8]">et je veux passer ma vie à combler les tiens.</div><div class="spacer"></div>
        <div [style.color]="'#ff5555'">Je t'aime jusqu'à la lune, Damien. Aller-retour. Joyeux noël ♥</div>
    </div></div>
</div>
<!--
attentionné
amoureux
beau
intelligent
gentil
les moments passés ensemb

le cul
le futur -->