<div class="body">
  <div class="container">
    <app-card [color-index]="0" [back-text]="messages.msg_1"></app-card>
    <app-card [color-index]="1" [back-text]="messages.msg_2"></app-card>
    <app-card [color-index]="2" [back-text]="messages.msg_3"></app-card>
    <app-card [color-index]="3" [back-text]="messages.msg_4"></app-card>
    <app-card [color-index]="4" [back-text]="messages.msg_5"></app-card>

    <app-card [color-index]="1" [back-text]="messages.msg_6"></app-card>
    <app-card [color-index]="2" [back-text]="messages.msg_7"></app-card>
    <app-card [color-index]="3" [back-text]="messages.msg_8"></app-card>
    <app-card [color-index]="4" [back-text]="messages.msg_9"></app-card>
    <app-card [color-index]="5" [back-text]="messages.msg_10"></app-card>

    <app-card [color-index]="2" [back-text]="messages.msg_11"></app-card>
    <app-card [color-index]="3" [back-text]="messages.msg_12"></app-card>
    <app-card [color-index]="4" [back-text]="messages.msg_13"
              [style.cursor]="'pointer'"
              (click)="showFrontSlider()"
              title="Clique ici après avoir tout lu ♥"
    ></app-card>
    <app-card [color-index]="5" [back-text]="messages.msg_14"></app-card>
    <app-card [color-index]="6" [back-text]="messages.msg_15"></app-card>

    <app-card [color-index]="3" [back-text]="messages.msg_16"></app-card>
    <app-card [color-index]="4" [back-text]="messages.msg_17"></app-card>
    <app-card [color-index]="5" [back-text]="messages.msg_18"></app-card>
    <app-card [color-index]="6" [back-text]="messages.msg_19"></app-card>
    <app-card [color-index]="7" [back-text]="messages.msg_20"></app-card>

    <app-card [color-index]="4" [back-text]="messages.msg_21"></app-card>
    <app-card [color-index]="5" [back-text]="messages.msg_22"></app-card>
    <app-card [color-index]="6" [back-text]="messages.msg_23"></app-card>
    <app-card [color-index]="7" [back-text]="messages.msg_24"></app-card>
    <app-card [color-index]="8" [back-text]="messages.msg_25"></app-card>
  </div>


  <app-slider *ngIf="isSliderVisible" 
              [position]="sliderIndex"></app-slider>


  <div class="sliders" *ngIf="isSliderVisible">

    <div class="slider-arrow left">
      <span title="Oui je sais, c'est pas bien aligné ;^;" class="material-icons-round" *ngIf="sliderIndex>0" (click)="previousSlide()">keyboard_arrow_left</span>
    </div>

    <div class="slider-arrow right">
      <span class="material-icons-round" *ngIf="sliderIndex<maxSliderIndex" (click)="nextSlide()">keyboard_arrow_right</span>
    </div>

  </div>
  
</div>